@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

:root { 
    --cor0:white;
    --cor1:black;
    --cor2:#DA291C;
    --cor3:#b32218;
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b32218;
}
main{
    background-color: var(--cor3);
    min-width:300px ;
    max-width:824px ;
    margin: auto;
    margin-bottom: 30px;

}
/* PARTE DE CIMA */
header{
    background-color: var(--cor2);
    padding-top: 15px;
    padding-bottom: 45px;
    margin-bottom: 20px;
    text-align: center;
}
#headerh1{
    color: var(--cor0);
    margin-top: 10px;
    margin-bottom: 30px;
}
#centerclaro{
    max-width: 70px;
    height: auto;
    display: block;
    float: left;
    padding-left: 15px;
    margin-top: 30px;
    margin-right: 20px;
    
}
nav {  
    text-align: left;
  }
nav > a {
    color: var(--cor0);
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
   
}
nav > a:hover {
    background-color:var(--cor3);
    border-radius: 25px;
}
#check{
  margin-left: 20px;
  background-color: var(--cor3);
  border-radius: 25px;
    
}

#check:hover{
    color: black;
}
/* FIM DA PARTE DE CIMA */


/* CORPO DO CHECKLIST */
strong{
    color: black;
}
.checklist-container {
    display: flex;
    flex-direction: column;
  }

  .checklist-item {
    margin-bottom: 15px;
    position: relative;
  }

  input[type="checkbox"] {
    display: none;
  }

  label {
    display: block;
    padding: 8px;
    background-color: #f4f4f4;
    border: 1px solid black;
    cursor: pointer;
  }

  label:hover {
    background-color: var(--cor2);
    color: white;
  }
  .lab1:hover{
    color: black;
  }

  .checklist-content {
    display: none;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    color: white;
    background-color:#e22f229a;
    text-align: center;
  }

  input[type="checkbox"]:checked + label {
    background-color: var(--cor3);
    color: white;
    text-align: center;
  }

  input[type="checkbox"]:checked + label + .checklist-content {
    display: block;
  }

/* FIM DO CORPO DO CHECKLIST */

/* CSS DA TABELA */
table{
    background-color: var(--cor0);
    border-collapse: collapse;
    
}
thead{
    font-size: 1.3em;
}
#check{
    margin-left: 20px;
    
}
#check:hover{
    color: black;
}
th{
    font-size: 0,8em;
}
tr{
    background-color: #DA291C;
    color: white;
}
th,td {
    border: 1px solid black;
    padding: 10px;
}
td{
    background-color: white;
    color: black;
}
.center{
    margin:auto;
    margin-bottom: 20px;
    }
/* FIM DA CSS DA TABELA */

/* CSS DA TABELA BENEFICIOS DO PLANO */
.direct{
    color: black;
    text-decoration: none;
    
   
}

.direct1:hover {
    background-color: #da291c88;
    color: white;
    transition-duration: .3s;

    
}


/* FIM DA CSS DA TABELA BENEFICIOS DO PLANO */

/* CALCULADORA */
.calculator {
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #calc{
    color: black;
  }
  #calc:hover{
    color: black;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    width: 30%;
    padding: 8px;
    margin-bottom: 15px;
  }

  button {
    background-color: #4caf50;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  #result {
    margin-top: 20px;
    font-weight: bold;
  }
/* FIM DA CALCULADORA */