/* style.css */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
    --cor0:white;
    --cor1:black;
    --cor2:#1E73BE;
    --cor3:#A961D7;
    --cor4:#DA291C;

}

/* Zerando CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fundo-tela */

html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  color: white;
  font-family: 'Lato', sans-serif;
}

body {
  background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(20, 20, 20, 0.568)), url(imagens/claro1.jpg);
  background-position: center center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
}

/* Menu - Header - NavBar */

header {
  width: 100%;
  height: 10vh;
  background-color: rgba(22, 22, 22, 0.2);
}

.menu-content {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  padding: 0 20px;
}

.logo {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
}

.menu-content .menu-toggle {
  display: none;
}

.menu-content .list-itens {
  margin-right: 10px;
  display: flex;
  list-style: none;
  gap: 10px;
}

.menu-content .list-itens a {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  transform: 2ms ease-in;
  position: relative;
}

.menu-content .list-itens a:before {
  content: ' ';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 2px;
  background-color: var(--cor4);
  transition: all 1.5s ease; 
}

.menu-content .list-itens a:hover:before {
  width: 100%;
}

/* Centro - Conteudo Principal */


