/* style.css */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
    --cor0:white;
    --cor1:black;
    --cor2:#1E73BE;
    --cor3:#A961D7;
    --cor4:#DA291C;
    --cor5:#b32218;

}

/* Zerando CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fundo-tela */

html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  color: white;
  font-family: 'Lato', sans-serif;
}

body {
  background: linear-gradient(rgba(22, 22, 22, 0.473), rgba(20, 20, 20, 1)), url(https://www.parkjacarepagua.com.br/Multiplan/filer_public/eb/09/eb093cf8-9676-4665-b745-3b7861411971/claro.jpeg);
  background-position: center center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
  overflow: hidden; /* Adicione esta linha para ocultar barras de rolagem */

}


/* Menu - Header - NavBar */

header {
  width: 100%;
  height: 10vh;
  background-color: rgba(22, 22, 22, 0.2);
}

.menu-content {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  padding: 0 20px;
}

.logo {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
}

.menu-content .menu-toggle {
  display: none;
}

.menu-content .list-itens {
  margin-right: 10px;
  display: flex;
  list-style: none;
  gap: 10px;
}

.menu-content .list-itens a {
  text-decoration: none;
  color: white;
  padding: 1.7rem;
  transform: 2ms ease-in;
  position: relative;
}

.menu-content .list-itens a:before {
  content: ' ';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 3px;
  background-color: var(--cor4);
  transition: all 1.5s ease; 
}

.menu-content .list-itens a:hover:before {
  width: 100%;
}

/* Centro - Conteudo Principal */

/* Conteudo central */
main {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-text {
  width: 850px;
  font-size: 3.4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btns button {
  width: 280px;
  height: 60px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 20px;
  position: relative;
  transition: 1.}

  .btns button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #da291c52; /* Cor do efeito de transição */
    border-radius: 20px;
    transition: width 0.7s ease-out; /* Tempo e tipo de transição */
    z-index: -1; /* Coloca o efeito por trás do texto do botão */
  }
  
  .btns button:hover::before {
    width: 100%;
  }
  #centerclaro{
    max-width: 100px;
    padding-left: 15px;
    margin-right: 20px;
    margin-bottom: 5px;
    
}
#centercorreios{
  max-width: 200px;
  padding-left: 15px;
  margin-right: 20px;
  
  
}
/* fim do conteúdo central */