@charset "UTF-8";


html, body {
    background: linear-gradient(rgba(94, 94, 94, 0.534), rgba(20, 20, 20, 1)), url(https://images5.alphacoders.com/462/462280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
  
    /* Add transparency and grayish tint */
    background-color: rgba(17, 16, 16, 0.377); /* Adjust opacity and color values as needed */
  }
  
  .container {
    max-width: 900px;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }
  
  p {
    font-size: 2rem;
    color: white;
  }
  
  .form-group {
    max-width: 700px; /* Adjust as needed for form width */
    margin-bottom: 15px;
  }
  
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    /* Center the button horizontally within its container */
    margin-left: 35%;
  }
  
  #formularioCliente {
    color: white;
    font-weight: bolder;
  }
  
  /* Centering the form */
  .row.justify-content-center {
    /* Add some margin for better spacing (optional) */
    margin-top: 5rem; /* Adjust margin as needed */
  }
