@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   
  }

:root{
    --cor0:white;
    --cor1:black;
    --cor2:#1E73BE;
    --cor3:#A961D7;
    --cor4:#DA291C;

}

 
header {
    background-color:var(--cor2);
    padding: 20px;
    text-align: left;
  }
main{
    background-color: var(--cor0);
    max-width:1280px ;
    margin: auto;
    margin-bottom: 30px;

}
#portalqualid{
    max-width: 87%;
    display: block;
    padding-top: 10px;
    margin: auto;
}
  
  .centerclaro > img {
    max-width: 130px;
    height: auto;
    display: block;
    float: left; 
    margin-right: 20px;
    margin-left: 30px;

  }
  nav {
    margin-top: 10px;
    margin-bottom: 17px;
    padding-right: 10px;
    text-align: right;
  }
  nav > a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    padding: 1.1rem;
    transform: 2ms ease-in;
    position: relative;
}

nav > a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: var(--cor0);
    transition: all 1.7s ease; 
}

nav > a:hover:before{
    width: 100%;

}

 